@model IEnumerable<AirsoftLogger.Models.Events>;
@{ ViewData["Title"] = "Events";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Scroll.js"></script>
<script src="~/js/Search.js"></script>

@if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
{
    <div class="adminEventAdd">
        <a class="btn btn-primary" asp-controller="CMS" asp-action="CreateEvent"> Add New Event <i fas fa-plus></i></a>
    </div>
}
<table class="EventTable table table-striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spaces)
            </th>
            <th> Booking </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteCode)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Spaces)
                </td>
                <td>
                    <a asp-controller="Home" asp-action="SiteDetails" asp-route-id="@item.SiteCode"> Details <i class="fas fa-info"></i></a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <a asp-controller="CMS" asp-action="SiteDelete" asp-route-id="@item.SiteCode"> Delete <i class="fas fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button onclick="toppage()" id="Top" title="Go to top">Back To Top</button>
