@model IEnumerable<AirsoftLogger.Models.SiteDetails>
@{
    ViewData["Title"] = Model.FirstOrDefault().SiteName;
    Layout = "ListLayout";
}

<div class="siteHeading text-center">
    <h1>Site Details</h1>
    <h2>On this page you'll find all the information on each Site (address, code, etc) and can also view each event this site is running below</h2>
    <hr />
</div>
<div class="SiteInfoContainer">
    <h3 class="ImportantSiteInfo">@Html.DisplayFor(a => a.FirstOrDefault().SiteCode) - @Html.DisplayFor(a => a.FirstOrDefault().SiteName)</h3>
    <div class="SiteAddress">
        <h2 class="AddressTitle">Address:</h2>
        <h4 class="AddressItem">@Html.DisplayFor(a => a.FirstOrDefault().Street)</h4>
        <h4 class="AddressItem">@Html.DisplayFor(a => a.FirstOrDefault().City)</h4>
        <h4 class="AddressItem">@Html.DisplayFor(a => a.FirstOrDefault().Postcode)</h4>
    </div>
    <div class="SiteContact">
        <h2 class="ContactTitle">Contact Information:</h2>
        <h4 class="ContactItem">Tel: @Html.DisplayFor(a => a.FirstOrDefault().Tel)</h4>
        <h4 class="ContactItem">Website:  <a class="ContactWebsite" href="@Model.FirstOrDefault().Website"> @Html.DisplayFor(a => a.FirstOrDefault().Website)</a> </h4>
    </div>
    <div class="map">
        <iframe width="500"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDJbcmOtMPzKfvWk-keN443e_abEYjbX1Q&q=,@Html.DisplayFor(a => a.FirstOrDefault().SiteName)">
        </iframe>
    </div>
</div>

@foreach (var obj in Model)
{

    if (!obj.EventID.Equals(0))
    {
        <table class="DetailTable table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstOrDefault().Spaces)
                    </th>
                    <th> Booking Details </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @obj.Date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => obj.Spaces)
                    </td>
                    <td>
                        @if (obj.Spaces > 0)
                        {
                            <div class="Book">
                                <form method="post" asp-controller="Home" asp-action="UpdateEvents">
                                    <input type="hidden" name="EventID" value="@obj.EventID" />
                                    <input type="hidden" name="Date" value="@obj.Date" />
                                    <input type="hidden" name="SiteCode" value="@obj.SiteCode" />
                                    <input type="hidden" name="Spaces" value="@obj.Spaces" />
                                    <input type="submit" value="Book" onclick="BookingConfirmed()" />
                                </form>
                            </div>
                        }
                        else
                        {
                            <p class="Book">Fully Booked</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <h3>No Events Here</h3>
    }
}
<button onclick="toppage()" id="Top" title="Go to top">Back To Top</button>