@model IEnumerable<AirsoftLogger.Models.Site>

@{
    ViewData["Title"] = "Sites";
}
<div class="siteHeading text-center">
    <h1>Sites</h1>
    <h2>On this page you'll find all the available sites stored within this website, You can Also Search this page</h2>
    <hr />
</div>

<div class="search text-md-center">
    
    <form asp-action="search" method="get">
        <h2> Search </h2>
        <label for="SearchString">Search For Site: </label> <input type="text" name="SearchString" id="SearchString"/>
        <input type="submit" runat="server" value="filter" class="searchbutton" onclick="return searchcheck()"/>
    </form>
</div>

<h2>Below is the list of all available sites </h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th> Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel)
            </td>
            <td>
                <a asp-controller="Home" asp-action="SiteDetails" asp-route-id="@item.SiteCode"> Details </a> 
            </td>
        </tr>
}
    </tbody>
</table>
