@model IEnumerable<AirsoftLogger.Models.SiteDetails>
@{
    ViewData["Title"] = "SiteDetails";
}
<h3>@Html.DisplayFor(a => a.FirstOrDefault().SiteCode) - @Html.DisplayFor(a => a.FirstOrDefault().SiteName)</h3>

@foreach (var obj in Model)
{

    if (!obj.EventID.Equals(0))
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Spaces)
                    </th>
                    <th> Booking Details </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @obj.Date.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => obj.Spaces)
                    </td>
                    <td>
                        @if (obj.Spaces > 0)
                        {
                            <div class="Book">
                                <form method="post" asp-controller="Home" asp-action="UpdateEvents">
                                    <input type="hidden" name="EventID" value="@obj.EventID" />
                                    <input type="hidden" name="Date" value="@obj.Date" />
                                    <input type="hidden" name="SiteCode" value="@obj.SiteCode" />
                                    <input type="hidden" name="Spaces" value="@obj.Spaces" />
                                    <input type="submit" value="Book" onclick="BookingConfirmed()" />
                                </form>
                            </div>
                        }
                        else
                        {
                            <p class="Book">Fully Booked</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
