@model IEnumerable<AirsoftLogger.Models.Site>

@{
    ViewData["Title"] = "Sites";
    Layout = "ListLayout";
}
<div class="siteHeading text-center">
    <h1>Sites</h1>
    <h2>On this page you'll find all the available sites stored within this website.</h2>
    <hr />
</div>

<div class="searchSite text-md-center">
    <h2> Search </h2>
    <form class="form-inline justify-content-center" asp-action="SearchSite" method="get">

        <div class="form-group">
            <label class="searchlabel" for="SearchString">Search For A Site: </label> <input type="text" name="SearchString" id="SearchString" class="form-control" />
            <div class="searchbuttoncontainer">
                <input type="submit" runat="server" value="Filter" class="searchbutton btn btn-primary" onclick="return searchcheck()" />
            </div>
        </div>
    </form>
</div>

<div class="SiteTableTop text-center">
    <h2>Below is the list of all available sites </h2>
</div>


@if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
{
    <div class="adminSiteadd text-center">
        <a class="btn btn-primary" asp-controller="CMS" asp-action="CreateSite"> Add New <i class="fas fa-plus"></i></a>
    </div>
}

<table class="SiteTable table table-striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th> Options </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteName)
                </td>
                <td>
                    <a class="websitelink" href="@item.Website"> @Html.DisplayFor(modelItem => item.Website)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
                <td>
                    <div class="SiteDetailsContainer">
                        <a class="SiteDetails btn btn-primary" asp-controller="Home" asp-action="SiteDetails" asp-route-id="@item.SiteCode"> Details <i class="fas fa-info"></i></a>
                    </div>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
                    {
                        <div class="SiteUpdateContainer">
                            <a class="SiteUpdate btn btn-primary" asp-controller="CMS" asp-action="EditSite" asp-route-id="@item.SiteCode"> Update <i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div class="SiteDeleteContainer">
                            <a class="SiteDelete btn btn-danger" asp-controller="CMS" asp-action="DeleteSite" asp-route-id="@item.SiteCode"> Delete <i class="fas fa-trash"></i></a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<button onclick="toppage()" id="Top" title="Go to top">Back To Top</button>