@model AirsoftLogger.Models.Events;
@{
    ViewData["Title"] = "Delete Event";
    Layout = "CMS";
}
<div class="siteHeading text-center">
    <h1>Event Deletion</h1>
    <h2>Use this page to Delete the selected Event from the database, <span class="text-danger">WARNING THIS IS PERMENANT</span></h2>
    <hr />
</div>
<div class="Deletecontainer">
    <form class="DeleteForm" method="post">
        <input type="hidden" name="EventId" value="@Model.EventID" />
        <input type="hidden" name="SiteCode" value="@Model.SiteCode" />
        <input type="hidden" name="Date" value="@Model.Date" />
        <input type="hidden" name="Spaces" value="@Model.Spaces" />

        <div class="form-inline">
            <p class="deleteText text-center">Delete Event @Model.SiteCode &#64 @Model.Date.ToShortDateString()  </p>
            <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirmation()" />
        </div>
    </form>
</div>