@model IEnumerable<AirsoftLogger.Models.SiteDetails>
@{
    ViewData["Title"] = "Delete Site";
    Layout = "CMS";
}
<div class="sitedeleteHeading text-center">
    <h1>Site Deletion</h1>
    <h2>Use this page to Delete the selected site and It's Associated address from the database,  <span class="text-danger">WARNING THIS IS PERMENANT</span></h2>
    <hr />
</div>
<div class="Deletecontainer">
    <form class="DeleteSiteForm" method="post">

        <input type="hidden" name="SiteCode" value="@Model.FirstOrDefault().SiteCode" />
        <input type="hidden" name="Tel" value="@Model.FirstOrDefault().Tel" />
        <input type="hidden" name="City" value="@Model.FirstOrDefault().City" />
        <input type="hidden" name="Street" value="@Model.FirstOrDefault().Street" />
        <input type="hidden" name="SiteName" value="@Model.FirstOrDefault().SiteName" />
        <input type="hidden" name="Website" value="@Model.FirstOrDefault().Website" />
        <input type="hidden" name="Postcode" value="@Model.FirstOrDefault().Postcode" />

        <div class="form-inline">
            <p class="deleteText text-center">Delete Site @Model.FirstOrDefault().SiteName?</p>

            <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirmation()" />
        </div>
    </form>
</div>